<h1 class="cover-heading">About Me</h1>
<p class="lead">
  Hi, I'm Eric! I am a web developer experienced with Ruby, Ruby on Rails,
  Javascript, Node, Express, React, Redux, SQL, Vue, Python, HTML5, and CSS3.
  I am currently looking for a job with a company where my skills and 
  knowledge will allow me to be a major contributor to ongoing and 
  future projects.
</p>
